<h3>Tasks to do version B</h3>
<div>
  <app-add-task (taskEmitter)="addNewTask($event)"></app-add-task>
  <br />

  <app-task-list
    [taskList]="todoTaskList"
    (doneTaskEvent)="doneTask($event)"
    (removeTaskEvent)="removeToDoTask($event)"
    (removeAllTasksEvent)="removeAllToDoTasks()"
    [showDoneTaskButton]="true"
    numberTaskCaption="Liczba zadań do zrobienia:"
    removeAllTasksCaption="To do tasks: "
    styleClass="newTasks"
  >
  </app-task-list>

  <br />
  <app-task-list
    [taskList]="doneTaskList"
    (removeTaskEvent)="removeDoneTask($event)"
    (removeAllTasksEvent)="removeAllDoneTasks()"
    [showDoneTaskButton]="false"
    numberTaskCaption="Liczba wykonanych zadań:"
    removeAllTasksCaption="Done tasks: "
    styleClass="done"
  >
  </app-task-list>

  <app-info [todoTaskList]="todoTaskList" [doneTaskList]="doneTaskList" ></app-info>
</div>
